@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.navbar {
    height: 2rem;
    font-size: 1.5rem;
}

.navbar-brand {
    font-family: 'Dancing Script', cursive;
}

.ml-mobile {
    width: 40%;
}

@media (max-width: 480px) {
    .med-mobile {
        flex-direction: column;
        width: 100%;
    }

    .ml-mobile {
        width: 100%;
    }
}