{% extends 'frontend/base.html' %}
{% block title %}Bushra - Good News{% endblock %}
{% block content %}
<div>
    <!-- Iterate over object_list -->
    {% for object in object_list %}
        <!-- Display Objects -->
        <div class="box">
        <h2 class="title"><a href="{% url 'news-detail' object.id %}">{{ object.title }}</a></h2>
        <p class="subtitle">{{ object.description }}</p>
        </div>
        <hr/>
        <!-- If objet_list is empty  -->
    {% empty %}
        <li>No objects yet.</li>
    {% endfor %}
</div>
{% endblock %}
</body>
</html>