{% extends 'frontend/base.html' %}
{% block title %}{{ news.title }} | Bushra - Good News{% endblock %}
{% block content %}

    <h1 class="title is-2">{{ news.title }}</h1>
    <h2 class="subtitle"><strong>{{ news.description }}</strong></h2>
    <hr/>
    <h2 class="title is-5"><strong>{{ news.author }}</strong></h2>
    <h2 class="subtitle is-6">{{ news.pubdate }}</h2>
    <a href="{{ news.url }}" target="_blank">Source</a>
    <hr/>
    <div class="block">
        <article class="media med-mobile">
            <div class="media-left ml-mobile">
                <figure class="image">
                    <img src="{{ news.image_url }}">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>{{ news.body }}</p>
                </div>
            </div>
        </article>
    </div>
{% endblock %}